<% const d = new Date()
let year = d.getFullYear() %>

<footer>
    <hr>
    <p class="copyright">&copy; <%= year %> CSE 340 App</p>
    <div class="footer-links">
        <a href="/trigger-error" class="error-test-link">Test Error Handling</a>
        </div>
</footer>